.footer {
  position: relative;
  bottom: -15px;
  width: 100%;
  background-color: #141414;
}

.footer p {
  text-align: center;
  font-size: 14px;
  padding: 25px;
  height: 70px;
}

/* MOBILE */

@media(max-width: 500px) {
  .footer {
    bottom: -700px;
  }
}

/* TABLET */

@media(max-width: 770px) {}
