.detalhe {
  width: 100%;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 150px;
  gap: 10px;
  justify-content: center;
  padding-top: 200px;
  max-width: 1200px;
  background-color: #181818;
  margin: 0 auto;
}

.col1 {
  flex-direction: row;
  height: 450px;
  width: 350px;
}

.col1 img {
  height: 450px;
  width: 340px;
}

.col1 h2 {
  font-size: 1.8rem;
}

.col1 p {
  margin-bottom: 5px;
}

.col1 button {
  padding: 5px 0;
  background-color: orange;
  align-self: center;
  margin-top: 50px;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 60px;
  color: #D8D8D8;
  width: 70%;
  cursor: pointer;
}
.col1 button:focus{
  outline-style: none;
}

/* MOBILE */

@media(max-width: 500px) {
  .container1 {
    padding: 170px 20px 0 20px;
    height: 165vh;
    margin-bottom: -700px;
  }
}

/* TABLET */

@media(max-width: 770px) {}
